<h1>Create New Question</h1>

<% unless @error.nil? %>
<p> <% @error.each do |a| %>
<%= a %> </p>
	<% end %>
<% end %>

<% if logged_in?%> 
	<form action="/questions" method="post">
		<label>Question: </label>
		<input type="text" name="title"><br />
		<label>Description: </label>
		<textarea type="text" name="body"></textarea>
		<input type="submit" name="Create Question" />
	</form>
<% else %>
<p>Just registered users can create a question - please log in or create a new account</p>
<% end %>

