<h1>Welcome our World</h1>
<p></p>


<% if logged_in?%> 
	<p>Welcome 
		<%=current_user.name%> 
	</P>
<% else %> 

	<h1>LOGIN</h1>

	<form action="/users/login" method="post">
		<label>Email: </label>
	 	<input type="email" name="email">
	 	<label>Password: </label>
	 	<input type="password" name="password">
	 	<input type="submit" value="Login">
	</form>

<%end%>


